language: node_js
node_js:
- '14'
sudo: true
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
  - development
before_install:
- pip install awscli --upgrade --user
- rm -f ${TRAVIS_BUILD_DIR}/yarn.lock
- npm i -g npm@6.14.11
install:
- npm ci
jobs:
  include:
  - stage: Api-Explorer Build Staging
    env:
    - NODE_ENV=production
    - PUBLIC_PATH=https://api-explorer-staging.streamr.network
    - SWAGGER_PATH=
    script:
    - npm run vendor:icons-bundle
    - npm run webpack:build
    deploy:
    - provider: s3
      access_key_id: AKIAI3FGPGMK3EREJJTQ
      secret_access_key:
        secure: lDYOQabCULKF1mDvYguA/mF9rZomlRTe7aTvXgienyjrp/gj8azjAi6Q+Z/UJiKtcDdWxtKGYBhUohbVSjN4VdGSdqhdHqf4yT9cgV0B0l1Yu4BYKSmy8HV+yLJ1NJ5vG9UM7EZd/CiwkjumBylnBjl+apZiMRtQa/XPT0QMO+adRG/W3AcceMLu73ItICUoaIbXy5Ti2MUWPEwf87IMSP/F/S9TFGEW5n3+bK5iT/fmjRHt2+4D7P2bE+zOXlpDmF4or2Q0SfROupbspGwSt2vow0Vxr7oAeyuDjbVvgaMvu9iUugFeGHPepWArnyjk5TZOvoCMqHKDIHPUdKu9OHTFu+CZOBbyXR1r3n71Rn2pPALHDUG58tmD7W9GUQSaCJtbyPgbQAlynyXa76gsut5dlF+LJfqB1ADb4Du6D1ZAk+fPZxbET72POdSAdDh9WqoWVsOPMMs7LxvLI0KoFxSJOdgxSarVx3Dl5R3QUg7yrAer3Z1gcGeIU1FzVbfpLAkY5sKljwr9ssCGvvrtPAoBp6ylmXY9usNNH+0obuwr7WURqgrborG5v/L4rjuihlf3GALVkf7X9qqiMHXJsd9wJ3rxLseAMbz6rhiNQYpDa/S16zwHraNM3OM0jHdNTWGQEgG+qSsuWhTDYuZNfakfHs2e7Pbsqe3Ou/KJ+hk=
      bucket: eu-west-1-stg-streamr-api-explorer
      local_dir: "$TRAVIS_BUILD_DIR/dist"
      acl: private
      region: eu-west-1
      skip_cleanup: true
      on:
        branch: development
    - provider: s3
      access_key_id: AKIAI3FGPGMK3EREJJTQ
      secret_access_key:
        secure: lDYOQabCULKF1mDvYguA/mF9rZomlRTe7aTvXgienyjrp/gj8azjAi6Q+Z/UJiKtcDdWxtKGYBhUohbVSjN4VdGSdqhdHqf4yT9cgV0B0l1Yu4BYKSmy8HV+yLJ1NJ5vG9UM7EZd/CiwkjumBylnBjl+apZiMRtQa/XPT0QMO+adRG/W3AcceMLu73ItICUoaIbXy5Ti2MUWPEwf87IMSP/F/S9TFGEW5n3+bK5iT/fmjRHt2+4D7P2bE+zOXlpDmF4or2Q0SfROupbspGwSt2vow0Vxr7oAeyuDjbVvgaMvu9iUugFeGHPepWArnyjk5TZOvoCMqHKDIHPUdKu9OHTFu+CZOBbyXR1r3n71Rn2pPALHDUG58tmD7W9GUQSaCJtbyPgbQAlynyXa76gsut5dlF+LJfqB1ADb4Du6D1ZAk+fPZxbET72POdSAdDh9WqoWVsOPMMs7LxvLI0KoFxSJOdgxSarVx3Dl5R3QUg7yrAer3Z1gcGeIU1FzVbfpLAkY5sKljwr9ssCGvvrtPAoBp6ylmXY9usNNH+0obuwr7WURqgrborG5v/L4rjuihlf3GALVkf7X9qqiMHXJsd9wJ3rxLseAMbz6rhiNQYpDa/S16zwHraNM3OM0jHdNTWGQEgG+qSsuWhTDYuZNfakfHs2e7Pbsqe3Ou/KJ+hk=
      bucket: eu-west-1-stg-streamr-vault
      local_dir: "$TRAVIS_BUILD_DIR/build-cd"
      upload_dir: api-explorer/releases
      acl: private
      region: eu-west-1
      skip_cleanup: true
      on:
        branch: development
  - stage: Api-Explorer Build Production
    if: NOT type IN (pull_request)
    env:
    - NODE_ENV=production
    - PUBLIC_PATH=
    - SWAGGER_PATH=https://raw.githubusercontent.com/streamr-dev/engine-and-editor/master/docs/swagger.json
    script:
    - npm run vendor:icons-bundle
    - npm run webpack:build
    deploy:
    - provider: s3
      access_key_id: AKIAI3FDTJG3O6WWN4BQ
      secret_access_key:
        secure: mnT9Kx/4ARKwXD+XKicNjkvJSgXXvUDRoWxsbXP9EdQ9OyoaYMz5LLtvyItZS3nysdnF8bvv1Fl+aoCfj4+sBCXxVCx/Vp2/yHtpInlEQv39aFrOAZ0locuwvHXjJTojwcob1NDkpX8bhLqIYiQ3e5MAYT16eYYjVMCnILjhfpINGBC7UtPPbTqLTzrIqTesPXQUqd1dD8UAc2ojuC6jP96hVg1FQdKdgSUriuHXv+3+3sxujpz5OsLRHnblHaZ9mYEUWpOkrV2XRQ20w8xJuSocD2QGFP5ej74O0JaYAUgwaysg3jOeBQi7R3Mu3Fgo/9H9bbWiBrt2O4Ephub9VXwNEBMj/EQ34S0c7ss4x9nLgRVMBA2D4K21pzlxqVxMW3z9JgQascQd0Av7iR136hqnT8vkgqh59npQp1nWwGLYMouAv7w9/WPBl47hU+ahNr0gsEEMPviUz+9pHk/JYPjCv8FO/mhxjVMQq5gBaq2FkC5nkxNC8OYQPsbJ8Z2HZMyqeBib6Y2rkj1/nDs1vuRP2lR4BPsiP0kmnH7jT1qblmAOIhIKSsMdjc5EMcoleiD9taUw3sjWuuFE+OpDDnsyGeZ7eKhhKlAb1JQO4vtCMbuLccAH6CuyehYYsFExER6ffzPzE+7one+6ny1weIowaLM0avzN7FmQZ/DybaI=
      bucket: eu-west-1-streamr-api-explorer
      local-dir: "$TRAVIS_BUILD_DIR/dist"
      acl: private
      region: eu-west-1
      skip_cleanup: true
      on:
        tags: true
